[Desktop Entry]
Name=eda
Comment=Editor for programmers
TryExec=eda
Exec=eda %F
Terminal=true
Type=Application
Icon=eda-icon
Categories=Utility;TextEditor;TextTools;Development;
StartupNotify=false
MimeType=text/plain;
